python-telegram-bot==22.6
google-generativeai==0.8.6
faiss-cpu==1.7.4

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
sentence-transformers==2.7.0

numpy==1.26.4
python-dotenv==1.0.1
